<!DOCTYPE html>
<html>
  <head>
    <title>Fit Challenge</title>
    <!-- <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> -->
    <link
      rel="stylesheet"
      href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"
    />
    <script
      src="https://kit.fontawesome.com/66a5eab7b2.js"
      crossorigin="anonymous"
    ></script>
    <link rel="icon" type="image/x-icon" href="/img/fit.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Jersey+10&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="container">
      <!-- <div class="jumbotron text-center"> -->
      <h1>Accomplish Your Goals</h1>
      <!-- create epic music feature -->
      <div class="music-player">
        <button id="playBtn">Let's do this!!</button>
      </div>
      <script>
        const audio = new Audio("/img/rocky.mp3");
        document.getElementById("playBtn").addEventListener("click", () => {
          audio.play();
        });
      </script>
      <img src="img/fitness-meme.jpeg" alt="abs-meme" />

      <!-- <p>Login or Sign Up:</p> -->

      <a href="/login" class="btn"
        ><span class="fa fa-person-running"></span> Login</a
      >
      <div></div>
      <a href="/signup" class="btn"
        ><span class="fa fa-person-walking"></span> Sign Up</a
      >
      <!-- </div> -->
    </div>
  </body>
</html>
